/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.indexable-folder-prefix {
    background-color: var(--interactive-accent);
    color: var(--text-on-accent);
    padding: 1px 6px;
    border-radius: 4px;
    margin-right: 6px;
    font-size: 0.8em;
    font-weight: bold;
}
